@import url('https://fonts.googleapis.om/css2?family=Secular+One&family=Shantell+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

.header {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 3ch;
  text-align: center;
}

.header img{width: 15%; 
  height: auto;
  border-radius: 5%;
}

.header h1 {
  font-family: 'Secular One', sans-serif;
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  text-align: center;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;}

header {
    background-color: #000000;
    padding: 1rem;
}

.nav-bar {
    position: relative;
    top: 0;
    display: inline;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 100vw;
    width: 100%;
    padding-bottom: 50%;
    border-radius: 10%;
    border: #1e7e34;
    border-color: #000000;
    margin: 10%;
}

.hamburger {
  position:absolute;
    display: none;
    justify-content: space-evenly;
    flex-direction: column;
    cursor: pointer;
    background:rgba(0, 0, 0, 0);
    border: none;
}

main{
  flex:1;
  display: inline-block;
  flex-wrap: wrap;
  margin: 0;
  position: relative;
  bottom: 0;
  padding: 0;
  min-height: 100vw;
}



.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #17a2b8;
    margin: 3px 0;
    transition: 0.4s;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    background: #17a2b8;
}

.nav__link {
    
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    transition: background-color 0.3s;
    
    
}

.nav__link:hover {
    background-color: #17a2b8;
}


@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav__links {
        display: none;
        flex-direction: column;
        width: auto;
        position: relative;
        border-radius: 10%;
        background-color: #000000;

    }

    .nav__links.active {
        display: flex;

    }

    .nav__link {
        text-align: center;
        
    }
}




footer {
    position:fixed;
    width: 100%;
    bottom: 0;
    background-color: #17a2b8;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
}

.course-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 5px solid #17a2b8;
  }
  .course-code, .course-name {
    padding: 5px;
  }

  .filter-btn:hover:before {
    position: relative;
    margin-right: 10%;
    cursor: pointer;
    background: #ddab37;
    display: inline-flex;
    padding: 1%;
    width: 20%;
    border-radius: 50%;
  }

  .filter-btn {
    position: relative;
    margin-right: 10%;
    cursor: pointer;
    background: #b28920;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 1%;
    width: 20%;
    border-radius: 1ch;
    
  }

  .filters{
    position: relative;
  }

  .about {
    
    display:flex;
    flex-wrap: wrap;
    background: #17a2b8;
    box-shadow: 5px 8px 18px #0d0c0c;
    border-radius: 30%;
    right: 25vw;

  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 1rem;
    box-shadow: 5px 8px 18px #0d0c0c;

  }





  .course-box{
    
    
    background: #ffffff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 8px 18px #0d0c0c;
    
  }
  
  #course-list {
    position: inherit;
    display:block;
    justify-content:space-evenly;
    flex-wrap:wrap;
  }

  #course {
    position: relative;
    width: calc((100% / 4));
    flex: 1;
    min-width: 150px;
    flex-wrap:wrap;
    border-bottom:4ch ;
    margin-bottom: 0.5rem;
}

.about img{
  position: absolute;
  width: 15%; height: auto;
  left: 65vw;
  top: 7vh;



  
}



  h2 {
    background-color: rgb(15, 56, 236);
    color: #ffffff;
    text-align: center;
  }



  .btn{
    display:inline-block;
    font-weight:400;
    color:#212529;
    text-align:center;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background-color:transparent;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
    @media (prefers-reduced-motion:reduce){
        .btn{transition:none}
        }
    .btn:hover{
        color:#212529;text-decoration:none
        }
    .btn.focus,.btn:focus{
        outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
        }
        
    .btn.disabled,.btn:disabled{
        opacity:.65}
    .btn:not(:disabled):not(.disabled){
        cursor:pointer
        }
    a.btn.disabled,fieldset:disabled a.btn{
        pointer-events:none
        }


  .btn-success{
    color:#fff;
    background-color:#2846a7;
    border-color:#28a745
    }
  .btn-success:hover{
    color:#fff;
    background-color:#218838;
    border-color:#1e7e34
    }
   .btn-success.focus,.btn-success:focus{
    color:#fff;
    background-color:#218838;
    border-color:#1e7e34;
    box-shadow:0 0 0 .2rem rgba(72,180,97,.5)
    }
    .btn-success.disabled,.btn-success:disabled{
        color:#fff;background-color:#28a745;border-color:#28a745
        }
    .btn-success:not(:disabled):not(.disabled).active,.btn-success:not(:disabled):not(.disabled):active,.show>.btn-success.dropdown-toggle{color:#fff;background-color:#1e7e34;border-color:#1c7430}.btn-success:not(:disabled):not(.disabled).active:focus,.btn-success:not(:disabled):not(.disabled):active:focus,.show>.btn-success.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(72,180,97,.5)}
    .btn-info{color:#fff;
        background-color:#17a2b8;
        border-color:#17a2b8
    }

    section {
        height: 25vh;
        background:#e2dfdf;
    }